body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 250px;
    padding-left: 1000px;
}

header nav {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        margin: 0px;
        padding-right: 900px;
        background-color: red;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav ul li {
    width: 200px;
}

.li {
    padding-left: 100px;
}

.li-cuenta {
    padding-left: 500px;
}
a {
    color: black ;
    text-decoration: none;
    
}

.fondo {
    background-image: url(../assets/fondo-index.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh; /* Ajusta según sea necesario */
    text-align: center;
}

.fondo-dos {
    background-color: black ;
}

.fondo-dos h1 {
    color: white;
}



.titulo{
    padding-top: 100px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    -webkit-text-stroke: 2px black;
    color: white;
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    -webkit-text-stroke: 2px black;
    color: white;
}

footer {
    background-color: red;
    color: black;
    padding: 10px;
    text-align: center;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}